@import "tailwindcss";

@theme {
  --color-primary: #d6336c;
  --color-primary-light: #f8d7e3;
  --color-secondary: #2f9e44;
  --color-bg: #fefefe;
  --color-text: #1a1a1a;
  --radius-base: 8px;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}